.por {
  position: relative;
}

.poa {
  position: absolute;
}

.pof {
  position: fixed;
}

.dn {
  display: none;
}

.db {
  display: block;
}

.dib {
  display: inline-block;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.W100 {
  width: 100%;
}



.center-Y {
  position: absolute;
  top: 50%;
  transform: translate3d(0, -50%, 0);
}

@mixin poa-father {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
$h1List:(
        'null' : 10px,
        '480px': 20px,
        '728px': 30px,
        '1200px': 40px,
);
$pList:(
        'null' : 15px,
        '480px': 16px,
        '728px': 17px,
        '1200px': 18px,
);

@mixin media($property,$list){
  @each $query, $value in $list {
    //设置一个默认的值
    @if $point == "null"{
      #{$property} : $value;
    }@else{
      @media (min-width : $point){
        #{$property}: $value;
      }
    }
  }
}

.swiper-slide{
  @include media('font-size',('null':10px,'550px':19px))
}
h1{
  @include media('font-size',$h1List);
}
