.por {
  position: relative;
}

.poa {
  position: absolute;
}

.pof {
  position: fixed;
}

.dn {
  display: none;
}

.db {
  display: block;
}

.dib {
  display: inline-block;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.center-Y {
  position: absolute;
  top: 50%;
  transform: translate3d(0, -50%, 0);
}
.center-XY{
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate3d(-50%, -50%, 0);
}

@mixin poa-father {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@for $i from 1 through 100 {
  .W#{$i} {
    width: $i * 1%;
  }
  .H#{$i} {
    height: $i* 1%;
  }
}

.WH100 {
  width: 100%;
  height: 100%;
}

@mixin media($property,$list:(),$type : 'max-width') {
  @each $query, $value in $list {
    //设置一个默认的值
    @if $query == "null" {
      #{$property} : $value;
    } @else {
      @media (#{$type}: $query+'px') {
        #{$property}: $value;
      }
    }
  }
}

@mixin mediaAll($propertys) {
  @each $item in $propertys {
    $property: nth($item, 1);
    $list: nth($item, 2);
    $type: 'max-width';
    @if length($item) >= 3 {
      $type: nth($item, 3);
    }
    @include media($property, $list, $type)
  }
}

