.por {
  position: relative;
}

.poa {
  position: absolute;
}

.pof {
  position: fixed;
}

.dn {
  display: none;
}

.db {
  display: block;
}

.dib {
  display: inline-block;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.W100 {
  width: 100%;
}



.center-Y {
  position: absolute;
  top: 50%;
  transform: translate3d(0, -50%, 0);
}

@mixin poa-father {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
