* {
  margin: 0;
  padding: 0;
  list-style: none;
}

@import "language";
@import "ge-common";
@import "nav";
html, body, .swiper-container, .swiper-slide {
  height: 100%;
  background: #000;
  color: #fff;
}

.swiper-slide {
  overflow: hidden;
}

.swiper-container-vertical > .swiper-pagination-bullets {
  .swiper-pagination-bullet {
    $w: 17px;
    width: $w;
    height: $w;
    margin-top: 12px;
    background: #000;
    border:2px solid rgba(136,223,148,1);
    opacity: 1;
    &-active {
      background:linear-gradient(151.1deg,rgba(58,179,155,1),rgba(136,223,148,1));
    }
  }
}

.ani {
  position: absolute;
}

.swiper-slide1 {
  background:linear-gradient(151.1deg,rgba(58,179,155,1),rgba(136,223,148,1));
  transition: opacity 600ms;
}

.content-outer {
  @include poa-father();
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
  perspective: 300px;
  pointer-events: none;
  transition: opacity 600ms;
  padding-top: 100px;
  .content-inner {
    .logo-main{
      width: 100px;
    }
    h1 {
      text-transform: uppercase;
      font-size: 60px;
    }
    .enb-description {
      margin: 20px;
      font-size: 28px;
    }
    @media (max-width: 700px) {
      h1 {
        font-size: 30px;
      }
      .enb-description {
        font-size: 16px;
      }
    }
    .while-btn {
      display: inline-block;
      $h: 50px;
      width: 245px;
      height: $h;
      line-height: $h;
      border-radius: 6px;
      border: 1px solid rgba(255, 255, 255, 1);
      cursor: pointer;
      &:hover {
        background-color: rgba(255, 255, 255, .3);
      }
    }
  }
}

.completed .content-outer {
  opacity: 1;
  pointer-events: auto;
  transition-duration: 0ms;
}


.enb-h2{
  margin-top: 100px;
  font-size:36px;
}
