* {
  margin: 0;
  padding: 0;
  list-style: none;
}

@import "language";
@import "ge-common";
@import "nav";
@mixin swiper-btn-common {
  position: absolute;
  top: 100%;
  margin-top: -44px;
  left: 50%;
  width: 30px;
  height: 30px;
  background: url('../../static/img/l1@2x.png') no-repeat;
  background-size: 100% 100%;
}

html, body, .swiper-container, .swiper-slide {
  height: 100%;

  color: #fff;
}

.main-srapper-start > .swiper-slide:not(.swiper-slide1) {
  background: #000 url('../../static/img/background.jpg') center bottom no-repeat;
  background-size: cover;
}

.ge-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  @media (max-width: 1240px) {
    padding: 0 40px;
  }
}

.swiper-slide {
  overflow: hidden;
}

.swiper-container-vertical > .swiper-pagination-bullets {
  .swiper-pagination-bullet {
    $w: 17px;
    width: $w;
    height: $w;
    margin-top: 12px;
    background: rgba(255, 255, 255, .4);
    opacity: 1;
    &-active {
      background: linear-gradient(151.1deg, rgba(58, 179, 155, 1), rgba(136, 223, 148, 1));
    }
  }
}

.swiper-slide1 {
  background: linear-gradient(151.1deg, rgba(58, 179, 155, 1), rgba(136, 223, 148, 1));
  transition: opacity 600ms;
}

.swiper-slide2 {
  .ge-container {
    height: 100%;
    .enb-h2 {
      position: absolute;
    }
  }
  svg {
    width: 100%;
    max-height: 100%;
    transform: translate3d(0, 10%, 0);
  }

}

.swiper-slide3 {
  .three-contain {
    padding-top: 120px;
    @media (max-width: 750px) {
      padding-top: 20px;
    }
    .col-sm-4 {
      @include media(margin-bottom, (500:5px));
    }
  }
  .three-img {
    width: 75px;
    margin-right: 10px;
    @include media(width, (500:40px));
  }
  .three-item-right {
    overflow: hidden;
    @include media(overflow, (800:visible));
    .three-h3 {
      $h: 33px;
      height: $h;
      font-size: 24px;
      line-height: $h;
      margin-bottom: 23px;
      @include media(font-size, (500:16px));
      @include media(height, (500:auto));
      @include media(margin-bottom, (500:5px));
      @include media(line-height, (500:1));
    }
    .three-content {
      font-size: 14px;
      line-height: 30px;
      margin-bottom: 76px;
      min-height: 250px;
      @include media(line-height, (500:1.1));
      @include media(font-size, (500:12px));
      @media (max-width: 750px) {
        min-height: auto;
        margin-bottom: 20px;
      }
    }
    .three-line {
      width: 60%;
      height: 5px;
      background: linear-gradient(151.1deg, rgba(58, 179, 155, 1), rgba(136, 223, 148, 1));
      border-radius: 4px;
    }
    .three-line {
      animation-name: three-line;
    }
    @keyframes three-line {
      0% {
        width: 0%;
      }
      100% {
        width: 60%;
      }
    }
  }
}

.swiper-slide4 {
  .erweima-wrap {
    display: inline-block;
    text-align: center;
    .erweima-img {
      margin-top: 40px;
      width: 166px;
      margin-bottom: 10px;
      @include media(display, (500:none));

    }
  }
  .ge-container {
    height: 100%;
  }
  .slide4-svg {
    max-width: 80%;
    max-height: 60%;
    height: auto;
    bottom: 50px;
    right: 0;
    @include media(width, (500:100%));
    @include media(max-width, (500:none));
    @include media(bottom, (500:40px));
  }
}

.time-swiper-container {
  height: auto;
  margin-top: 20px;
  padding-bottom: 100px;
  .swiper-slide {
    $w: 38px;
    $h: 32px;
    width: 25%;
    @media (max-width: 1000px) {
      width: 50%;
    }
    @media (max-width: 500px) {
      width: 100%;
    }
    height: 400px;
    overflow: visible;
    .swiper-poa {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
    .time-wrap {
      padding: 10px 30px;
      background: linear-gradient(92.4deg, rgba(58, 179, 155, .4), rgba(1, 1, 1, 0));
      border-left: 2px solid #88DF94;
      margin: $h 0 0 $w/2;
      position: relative;
    }
    .time-year {
      padding-left: $w/2;
      height: 50px;
      font-size: 30px;
      font-weight: bold;
      background: linear-gradient(151.1deg, rgba(58, 179, 155, 1), rgba(136, 223, 148, 1));
      line-height: 50px;
    }
    .time-num {
      width: $w;
      height: $h;
      line-height: $h;
      text-align: center;
      font-size: 22px;
      background: linear-gradient(92.4deg, #3AB39B, #88DF94);
      border: 2px solid #3AB39B;
      position: absolute;
      top: 0;
      left: 0;
      transform: translate3d(-$w/2, -$h, 0);
    }
    .time-title {
      margin-bottom: 10px;
      font-size: 18px;
    }
    .time-body {
      font-size: 16px;
      opacity: .8;
      line-height: 25px;
      .en {
        font-size: 12px;
        line-height: 1.4;
        display: inline-block;

      }
    }
  }
  .swiper-button-next-time, .swiper-button-prev-time {
    @include swiper-btn-common;
  }
  .swiper-button-next-time {
    margin-left: 50px;
    transform: rotate(180deg);
  }
  .swiper-button-prev-time {
    margin-left: -50px;

  }
}

.swiper-slide5-1 {
  .tech-svg {
    max-width: 100%;
    max-height: 100%;
    overflow: visible;
    top: 60%;
  }
}

.swiper-slide6 {
  .enb-h2 {
    margin-top: 50px;
  }
  .six-contain {
    margin-top: 50px;
    color: #fff;
    .img-wrap {
      overflow: hidden;
    }
    .img-hover {
      width: 100%;
      transition: .5s all;
      &:hover {
        transform: scale(1.1, 1.1);
      }
    }
    .container-wrap {
      .title {
        font-size: 16px;
        margin: 20px 0 10px;
        text-decoration: none;
        color: #fff;
      }
      .from {
        font-size: 14px;
        color: rgba(155, 155, 155, 1);
      }
    }
  }
}

.swiper-slide7 {
  .slide7-container {
    text-align: center;
    width: 100%;
    .team-item {
      position: relative;
      overflow: hidden;
      width: 25%;
      min-width: 120px;
      padding: 20px;
      .team-img {
        width: 100%;
        border-radius: 50%;
      }
      &:hover .people-des-wrap {
        bottom: 0;
      }
      .people-des-wrap {
        transition: .5s all;
        text-align: center;
        padding: 15px;

        .work {
          font-size: 18px;
        }
        .name {
          font-size: 12px;
          color: rgba(255, 255, 255, 1);
        }
      }
    }
    .swiper-wrapper {
      padding-bottom: 100px;
    }
    .swiper-pagination-bullet {
      width: 12px;
      height: 12px;
    }
  }
  .swiper-button-next-people, .swiper-button-prev-people{
    @include swiper-btn-common;
    z-index: 1;
  }
  .swiper-button-next-people {
    margin-left: 50px;
    transform: rotate(180deg);
  }
  .swiper-button-prev-people {
    margin-left: -50px;

  }
}

.swiper-slide8 {

  .cooperation {
    text-align: center;
    width: 100%;
    .cooperation-item {
      display: inline-block;
      padding: 0 20px;
      margin-bottom: 20px;
      max-width: 33%;
      @include mediaAll((
      ))
    }
    .cooperation-img {
      max-width: 100%;

    }
  }
  .link-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin-bottom: 40px;
    li {
      display: inline-block;
      transition: .4s all;
      position: relative;
      top: 0;
      &:hover {
        top: -20px;
      }
      a {
        color: #fff;
        text-decoration: none;

        img {
          width: 76px;
          height: 76px;
          margin: 10px 50px;
          display: block;
        }
      }
    }
  }
}

.swiper-slide {
  .ge-container {
    height: 100%;
    position: relative;
  }
}

.content-outer {
  @include poa-father();
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
  perspective: 300px;
  pointer-events: none;
  transition: opacity 600ms;
  padding-top: 100px;
  .content-inner {
    .logo-main {
      width: 100px;
    }
    h1 {
      text-transform: uppercase;
      font-size: 60px;
    }
    .enb-description {
      margin: 20px;
      font-size: 28px;
    }
    @media (max-width: 700px) {
      h1 {
        font-size: 30px;
      }
      .enb-description {
        font-size: 16px;
      }
    }
    .while-btn {
      display: inline-block;
      position: static;
      $h: 50px;
      width: 245px;
      height: $h;
      line-height: $h;
      border-radius: 6px;
      color: #fff;
      border: 1px solid rgba(255, 255, 255, 1);
      cursor: pointer;
      &:hover {
        background-color: rgba(255, 255, 255, .3);
      }
    }
  }
}

.completed .content-outer {
  opacity: 1;
  pointer-events: auto;
  transition-duration: 0ms;
}

.enb-h2 {
  animation-duration: 2s;
  margin-top: 100px;
  font-size: 36px;
  position: relative;
  display: inline-block;
  @media (max-width: 600px) {
    font-size: 20px;
    margin-top: 30px;
  }
}

.enb-sub-content {
  font-size: 16px;
  max-width: 580px;
  margin-top: 30px;
  line-height: 30px;
  $mediaAll: (
                  (font-size, (600:14px)),
                  (line-height, (700:24px, 500:20px))
  );
  @include mediaAll($mediaAll)
}
